
body {
	background-color: #202020;
	margin: 0;
	overflow: hidden; /* Hide scrollbars */
}

/* a revoir to space the page out better- space around game canvas */
/* opacity/ background colour still not working */
/* position:relative changes background opacity (???) */
#gameCanvas {
	/* semi opaque black background color */
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 1;
	border-top: 200px solid #ffdb28;
	border-bottom: 200px solid #ffdb28;
	border-left: 150px solid #FFE35D;
	border-right: 150px solid #FFE35D;
	border-radius: 3%;
	position: relative;
	z-index: 1;
}

.game-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.machine-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.game-subheading {
	color: white;
	font-weight: 400;
	font-style: normal;
	width: 100%;
	text-align: center;
	margin-top: 10vh;
}

.overlay-heading {
	color: black;
	font-family: "Righteous", serif;
	z-index: 2;
	font-size: 6rem;
	/*flex-grow: 100;*/
}

.text {
	/* put everything in uppercase */
	text-transform: uppercase;
	animation: blink 1s step-end infinite, type 2.5s steps(29) forwards;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@keyframes type {
	0% {
		width: 0;
	}
}
