
body {
	background-color: #202020;
	margin: 0;
	overflow: hidden; /* Hide scrollbars */
}

/* a revoir to space the page out better- space around game canvas */
#gameCanvas {
	background-color: #000;
	display: block;
	margin: 100px;
}

.game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}