.mode-container {
	display : flex;
	justify-content : center;
	flex-direction: column;
	align-items: center;
}

label {
	color : black;
}

input {
	color : white;
}

.mode-buttons {
    position: absolute;
    bottom: -50px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dm-flip-card {
    position: relative;
    width: 40vmin; /* Adjust as needed */
    height: 56vmin; /* Adjust as needed */
    background: transparent;
    transform-style: preserve-3d;
    perspective: 2000px;
}

.dm-front-card, .dm-back-card-one, .dm-back-card-two, .dm-back-card-three {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 1s;
}

.dm-front-card {
    background-size: cover;
    background-position: center center;
}

.dm-front-card:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.37);
    top: 0;
    left: 0;
    opacity: 0.5;
}

.dm-back-card-one {
    background: #FFE668;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dm-back-card-two {
    background: black;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dm-back-card-three {
    background: #FFE668;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dm-flip-card:hover .dm-front-card {
    transform: rotateY(-180deg);
}

.dm-flip-card:hover .dm-back-card-one, .dm-flip-card:hover .dm-back-card-two, .dm-flip-card:hover .dm-back-card-three {
    transform: rotateY(0deg);
}