
.results-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#funfool {
	position:relative;
	height: 500px;
	width: 500px;
  }
  
  .fool {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: visible;
  }
  
  #fun {
  & .wrapper {
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	transform: translate(-50%, -50%);
  
	& .middle {
	  top: 50%;
	  left: 50%;
	  width: 1vmin;
	  height: 100%;
	  border-right: 1vmin dashed white;
	  transform: translate(-50%, -50%) rotate(0deg);
	  transform-origin: center center;
	  animation: middle 10s 0s ease alternate infinite;
	}
  
	& .paddle {
	  top: 0;
	  width: 50%;
	  height: 25%;
	  transform: translatY(0) rotate(0deg);
	  &.left {
		left: 0;
		border-left: 1vmin solid white;
		transform-origin: right center;
		animation: paddleleft 10s 0s ease alternate infinite;
	  }
	  &.right {
		right: 0;
		border-right: 1vmin solid white;
		transform-origin: left center;
		animation: paddleright 10s 0s ease alternate infinite;
	  }
	}
  
	& .ball {
	  width: 1vmin;
	  height: 1vmin;
	  background: white;
	  transform-origin: center center;
	  animation: ball 10s 0s linear alternate infinite;
	}
  
	& .score {
	  top: -10vmin;
	  left: calc(50% - 12vmin);
	  width: 10vmin;
	  height: 10vmin;
	  font-size: 8em;
	  &:before {
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
	  }
	  &.left {
		left: calc(50% - 12vmin);
		&:before {
		  content: "0";
		  animation: scoreleft 10s 0s ease alternate infinite;
		}
	  }
	  &.right {
		left: calc(50% + 2vmin);
		&:before {
		  content: "0";
		  animation: scoreright 10s 0s ease alternate infinite;
		}
	  }
	}
  }
  }
  
  @keyframes middle {
  0% {
	height: 100%;
	transform: translate(-50%, -50%) rotate(0deg);
  }
  20% {
	height: 100%;
	transform: translate(-50%, -50%) rotate(0deg);
  }
  30% {
	height: 100%;
	transform: translate(-50%, -50%) rotate(0deg);
  }
  40% {
	height: 75%;
	transform: translate(-50%, -50%) rotate(-90deg);
  }
  50% {
	height: 20%;
	transform: translate(-50%, -50%) rotate(-360deg);
  }
  60% {
	height: 60%;
	transform: translate(-50%, -50%) rotate(90deg);
  }
  70% {
	height: 50%;
	transform: translate(-50%, -50%) rotate(270deg);
  }
  80% {
	height: 10%;
	transform: translate(-50%, -50%) rotate(-90deg);
  }
  90% {
	height: 40%;
	transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
	height: 90%;
	transform: translate(-50%, -50%) rotate(360deg);
  }
  }
  
  @keyframes ball {
  0% {
	top: 0;
	left: 50%;
	width: 1vw;
  }
  10% {
	top: 0;
	left: 50%;
	width: 1vw;
  }
  20% {
	top: 40%;
	left: 100%;
	width: 1vw;
  }
  30% {
	top: 80%;
	left: 0%;
	width: 1vw;
  }
  40% {
	top: 80%;
	left: 100%;
	width: 1vw;
  }
  50% {
	top: 0%;
	left: 50%;
	width: 1vw;
  }
  60% {
	top: 100%;
	left: 50%;
	width: 1vw;
  }
  70% {
	top: 50%;
	left: 100%;
	width: 1vw;
  }
  80% {
	top: 0%;
	left: 50%;
	width: 1vw;
  }
  90% {
	top: 50%;
	left: 0%;
	width: 1vw;
  }
  100% {
	top: 50%;
	left: 100%;
	width: 1vw;
  }
  }
  
  @keyframes paddleleft {
  0% {
	top: 50%;
	height: 25%;
	transform: translateY(0) rotate(0deg);
  }
  20% {
	top: 40%;
	height: 25%;
	transform: translateY(0) rotate(0deg);
  }
  30% {
	top: 60%;
	height: 25%;
	transform: translateY(0) rotate(0deg);
  }
  40% {
	top: 50%;
	height: 25%;
	transform: translateY(-50%) rotate(0deg);
  }
  50% {
	top: 50%;
	height: 45%;
	transform: translateY(-50%) rotate(90deg);
  }
  60% {
	top: 50%;
	height: 65%;
	transform: translateY(-50%) rotate(180deg);
  }
  70% {
	top: 50%;
	height: 15%;
	transform: translateY(-50%) rotate(-180deg);
  }
  80% {
	top: 50%;
	height: 10%;
	transform: translateY(-50%) rotate(360deg);
  }
  90% {
	top: 50%;
	height: 50%;
	transform: translateY(-50%) rotate(0deg);
  }
  100% {
	top: 50%;
	height: 5%;
	transform: translateY(-50%) rotate(-90deg);
  }
  }
  
  @keyframes paddleright {
  0% {
	top: 50;
	height: 25%;
	transform: translateY(0) rotate(0deg);
  }
  20% {
	top: 30%;
	height: 25%;
	transform: translateY(0) rotate(0deg);
  }
  30% {
	top: 40%;
	height: 25%;
	transform: translateY(0) rotate(0deg);
  }
  40% {
	top: 80%;
	height: 25%;
	transform: translateY(-50%) rotate(0deg);
  }
  50% {
	top: 50%;
	height: 15%;
	transform: translateY(-50%) rotate(-180deg);
  }
  60% {
	top: 50%;
	height: 5%;
	transform: translateY(-50%) rotate(90deg);
  }
  70% {
	top: 50%;
	height: 65%;
	transform: translateY(-50%) rotate(270deg);
  }
  80% {
	top: 50%;
	height: 10%;
	transform: translateY(-50%) rotate(-90deg);
  }
  90% {
	top: 50%;
	height: 40%;
	transform: translateY(-50%) rotate(90deg);
  }
  100% {
	top: 50%;
	height: 95%;
	transform: translateY(-50%) rotate(0deg);
  }
  }
  