<!DOCTYPE html>
<html>

<head>
	<title>Dashboard</title>
	<link rel="icon" href="/static/img/42.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&family=Righteous&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/static/css/stars.css">
	<link rel="stylesheet" href="/static/css/dashboard.css">
	<script src="/static/js/home.js" defer></script>
	<script src="/static/js/mode.js" defer></script>
</head>

<body>
	<div id="stars"></div>
	<div id="stars2"></div>
	<div id="stars3"></div>

	<div class="dashboard-container">
		<div class="avatar-container">
			<img src="" alt="avatar" id="avatar-img" style="border-radius: 100%; width: 150px">
			<div class="righteous" id="avatar-name"></div>
			<div class="old-button">
				<a class="pix" onclick="logOut()"><img src="/static/img/exit.png">logout</a>
			</div>
		</div>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				displayAvatar();
			});
		</script>
		<div class="logout-container">
			<img src="/static/img/logout.png" alt="logoutImg" id="logoutImg" onclick="logOut()">
		</div>
		<div id="dashFrame">
				<h2 class="pix dashboard-heading text">Welcome to your dashboard</h2>
		</div>
		<img id="arcade" src="/static/img/gameMachineButtons.png">
		<div id="gameBtns">
			<img id="options" onclick="renderStep(1)" src="/static/img/options.png">
		</div>
	</div>
</body>
</html>