<!DOCTYPE html>
<html>

<head>
	<title>Dashboard</title>
	<link rel="icon" href="/static/img/42.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&family=Righteous&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/home.css">
	<link rel="stylesheet" href="/static/css/stars.css">
	<link rel="stylesheet" href="/static/css/chart.css">
	<link rel="stylesheet" href="/static/css/dashboard.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
	<script src="/static/js/home.js" defer></script>
	<script src="/static/js/mode.js" defer></script>
	<script src="/static/js/dash.js" defer></script>
	<script src="/static/js/balls.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
	<div id="stars"></div>
	<div id="stars2"></div>
	<div id="stars3"></div>
	<div class="dashboard-container">
		<div class="avatar-container">
			<img src="" alt="avatar" id="avatar-img" style="border-radius: 100%; width: 150px">
			<div class="righteous" id="avatar-name"></div>
			<div class="logout-button" onclick="logOut()">
				<img src="/static/img/exit.png">logout
			</div>
		</div>
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				displayAvatar();
			});
		</script>
		<div class="logout-container">
			<img src="/static/img/logout.png" alt="logoutImg" id="logoutImg" onclick="logOutDash()">
		</div>
		<div id="dashFrame">
			<h2 class="pix dashboard-heading">Welcome to your dashboard</h2>
			<div class="wrap-text">
				<div class="pix text">Most played option : Normal</div>
				<div class="pix text">Most winned option : Cosmic</div>
				<div class="pix text">Most lost opponent : Bot</div>
				<div class="pix text">Most winned opponent : Bibi</div>
				<div class="pix text">Most played opponent : Barryonic</div>
			</div>

			<div class="wrap-balls">
				<div class="pix vertical">
					Games Played
				</div>
				<div id="balls">
				</div>
			</div>
			<canvas id="myChart"></canvas>
			<div class="wrap-bars">
				<div class="holder">
					<div class="bar cf" data-percent="85%"><span class="label">Loss</span></div>
					<div class="bar cf" data-percent="75%"><span class="label light">Wins</span></div>
					<div class="bar cf" data-percent="65%"><span class="label">Draws</span></div>
				</div>
			</div>
		</div>
		<img id="arcade" src="/static/img/gameMachineButtons.png">
		<div id="gameBtns">
			<img id="options" onclick="renderStep(1)" src="/static/img/options.png">
		</div>
	</div>
</body>

</html>